.first {
    width: 350px;
    height: 220px;
    padding-top:15px ;
    padding-bottom:20px ;
    padding-left:10px ;
    padding-right:10px ;
    margin-bottom: 30px;
    background-color: green;
    border: 2px dotted rgb(255, 0, 0);
}